    <section id="process">
        <div class="container my-5 py-5">
            <div class="row process-components my-5">
                <div class="d-flex flex-wrap justify-content-between">

                    <div class="col text-center px-4 my-5">
                        <iconify-icon class="process-icon mb-2" icon="mdi:phone-outline"></iconify-icon>
                        <h5 class="process-heading">call or Fill form</h5>
                    </div>
                    <div class="col text-center px-4 my-5">
                        <iconify-icon class="process-icon mb-2" icon="mdi:forum"></iconify-icon>
                        <h5 class="process-heading">Talk with us</h5>
                    </div>
                    <div class="col text-center px-4 my-5">
                        <iconify-icon class="process-icon mb-2" icon="mdi:archive-search-outline"></iconify-icon>
                        <h5 class="process-heading">Inspect & prososal</h5>
                    </div>
                    <div class="col text-center px-4 my-5">
                        <iconify-icon class="process-icon mb-2" icon="mdi:car-lifted-pickup"></iconify-icon>
                        <h5 class="process-heading">Prep & installation</h5>
                    </div>
                    <div class="col text-center px-4 my-5">
                        <iconify-icon class="process-icon mb-2" icon="mdi:shield-home-outline"></iconify-icon>
                        <h5 class="process-heading">job site picked up</h5>
                    </div>


                </div>
            </div>
        </div>
    </section>