<form id="form" class="form-group flex-wrap">

                        <div class="col-lg-12 mb-3">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Select Pricing Plan</option>
                                <option value="1">Standard</option>
                                <option value="2">Basic</option>
                                <option value="3">Deluxe</option>
                                <option value="4">Ultimate</option>
                            </select>
                        </div>
                        <div class="col-lg-12 mb-3">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Choose Extra Features (optional)</option>
                                <option value="1">Repairing - $4.99 </option>
                                <option value="2">Modification - $7.99</option>
                                <option value="3">Roof Inspection - $6.99</option>
                                <option value="4">Polish & Clean - $11.99</option>
                                <option value="5">Gutter cleaning - $24.99</option>
                                <option value="6">Waterproofing - $12.99</option>
                            </select>
                        </div>



                        <div class="form-input col-lg-12 d-flex mb-3">
                            <div class="input-group date" id="datepicker">
                                <input type="date" id="date" name="appointment" min="2023-01-01" max="2023-12-31"
                                    class="form-control ps-3 me-3">
                            </div>
                            <div class="input-group time" id="timepicker">
                                <input type="time" id="time" name="appointment" min="9AM" max="6PM"
                                    class="form-control ps-3">
                            </div>
                        </div>

                        <div class="form-input col-lg-12 d-flex mb-3">
                            <input type="text" name="email" placeholder="Write Your Name Here"
                                class="form-control ps-3 me-3">
                            <input type="text" name="email" placeholder="Write Your Email Here"
                                class="form-control ps-3">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <textarea placeholder="Write Your Message Here" class="form-control ps-3"
                                rows="8"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Submit</button>
                        </div>
                    </form>