<div class="inquiry-item col-md-12">
                    <h2 class="fs-3 text-uppercase mb-4 fw-bold">Got any questions?</h2>
                    <p>Use the form below to get in touch with us.</p>
                    <form id="form" class="form-group flex-wrap">
                        <div class="form-input col-lg-12 d-flex mb-3">
                            <input type="text" name="email" placeholder="Write Your Name Here"
                                class="form-control ps-3 me-3">
                            <input type="text" name="email" placeholder="Write Your Email Here"
                                class="form-control ps-3">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <input type="text" name="email" placeholder="Write Your Subject Here"
                                class="form-control ps-3">
                        </div>
                        <div class="col-lg-12 mb-3">
                            <textarea placeholder="Write Your Message Here" class="form-control ps-3"
                                rows="8"></textarea>
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Submit</button>
                        </div>
                    </form>
                </div>