<section id="partners">
        <div class="container my-5 py-5">
            <h6 class="fw-bold text-capitalize fs-5 my-5">Our trusted partners</h6>
            <div class="row">
                <div class="logo-content d-flex flex-wrap justify-content-between">
                   {{each partners as partner}}
                    <a href="#" class="mb-5 mx-2">
                        <img src="{{partner.image.getImage()}}" alt="logo" class="logo-image img-fluid">
                    </a>
                   {{/each}}
                </div>
            </div>
        </div>
    </section>