<div class="row">
    {{each multi_services as ms}}
<div class=" mt-4 col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="services-components text-center py-5 px-3">
                       
                            <iconify-icon class="services-icon my-2" icon="{{ms.card_icon_name}}"></iconify-icon>
                        <h5 class="services-heading mb-3">{{ms.card_title}}</h5>
                        <p>{{ms.card_description2}}
                        </p>
                       
                        <a href="#" class="btn btn-primary service-btn mt-3">{{ms.card_cta_button}}</a>
                       

                    </div>
</div>
{{/each}}
    </div>